body[data-theme="light"] {
  --bg: #f4f6fb;
  --card: #ffffff;
  --text: #1f2937;
  --muted: #6b7280;

  --primary: #4f46e5;
  --primary-hover: #4338ca;

  --success: #22c55e;
  --danger: #ef4444;

  --shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

body[data-theme="dark"] {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #f8fafc;
  --muted: #94a3b8;

  --primary: #6366f1;
  --primary-hover: #4f46e5;

  --success: #22c55e;
  --danger: #ef4444;

  --shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
}

.themeToggle {
  position: "absolute";
  top: 10;
  right: 10;
}
